<h1>Cadastro#index</h1>
<p>Find me in app/views/cadastro/index.html.erb</p>
<%=@cadastros.testar_metodo%>
<%if @cadastros.verificar_actions %>
<h1>deu verdadeiro</h1>
<%else%>
<h1>deu falso</h1>
<%end%>