<center>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><h1>Formulario de solicitação de credito de gás</h1></h3>
    </div>
    <div class="panel-body">
       <form name="pdv" action="pagina_teste" method="post">
            
            <%= render "partials/pdv/usrphone" %>
             
            <%= render "partials/pdv/produtoqtd" %>
            
        
            <button type="submit" class="btn btn-primary">Subimeter</button>
        </form>
    </div>
         
   
