<html>
<head>
<title>Estudos Ruby On Rails</title>
</head>
<body>

<form name="usuario" action="gravar" 
  method="post"> 
  Seu nome:<br>
  <input type="text" name="login"> 
  <input type="text" name="passwd"> 
  <input type="submit" value="Enviar">
</form>

</body>
</html>