 
   <div class="form-group">
    <label for="exampleInputPassword1">Cep</label>
    <input type="text" name="usradcep" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>