 <div class="form-group ">
    <label for="exampleInputEmail1">Nome</label>
    <input type="nome do usuario"  name="usrname" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>