<div class="form-group">
    <label for="exampleInputPassword1">Quantidade do produto</label>
    <input type="number" name="prod_qtd" class="form-control" id="exampleInputPassword1" placeholder="Quantidade em unidades">
  </div>