<table class="table table-striped">
  <thead>
     <tr>
        <td>Titulo</td>
        <td>Data</td>
        
    
     </tr>
  </thead>
<%@campanha.each do |campanha|%>
 <tbody>
     <tr>
        <td><%=campanha['titulo']%></td>
        <td><%=campanha['data']%></td>
        

        
        <td>
           <form name="campanha" action="recycle" method="post">     
               <input type="hidden" name="id" value=<%=campanha['_id']%>><br>
               <button type="submit" class="btn btn-warning">Reciclar</button> <i class="fa fa-pencil" aria-hidden="true"></i></button>
           </form>
        </td>
        <td>
        <form name="cadastro" action="show" method="post">
            <input type="hidden" name="id" value=<%=campanha['_id']%>><br>
            <button type="submit" class="btn btn-success">exibir <i class="fa fa-eye" aria-hidden="true"></i></button>
        </form>
        </td>
     </tr>
  </tbody>
  <%end%>
</table>
