<center>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><h1>Formulario de campanha</h1></h3>
    </div>
    <div class="panel-body">
       <form name="campanha" action="new" method="post">
            <div class="form-group">
                <label for="exampleInputPassword1">titulo</label>
                <input type="text" name="titulo"  class="form-control"  >
            </div>
            <div class="form-group">
              <label for="comment">Conteudo da campanha</label>
              <textarea name="conteudo"class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Numero de msg's</label>
                <input type="number" name="alcance" class="form-control" rows="2" >
            </div>
        
            <button type="submit" class="btn btn-primary">Subimeter</button>
        </form>
    </div>
         
   
   
   
 
 
  
  
 
</center>