 <!-- /.col-lg-8 -->
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notificações
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> nome da notificação
                                    <span class="pull-right text-muted small"><em>tempo decorrido</em>
                                    </span>
          </a>

        </div>
        <!-- /.list-group -->
        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
   
    <!-- /.panel .chat-panel -->
  </div>
  <!-- /.col-lg-4 -->