# encoding: utf-8
<center><h1>Pagina de teste de funções do servidor</h1></center>
<center><h1>Metodo de teste</h1></center>
<p>testando metodo: testar_conexao=>server</p>

<center><h1>Metodo 1</h1></center>
<p>testando metodo: criar_cadastro_usuario => server</p>
<%=@server.criar_cadastro_usuario%>
<p>testando metodo: validar_usuario_vendedor => server</p>
<%=@server.validar_usuario_vendedor%>
<p>testando metodo: solicitar_informacoes_gerais_pdv=> server</p>
<%=@server.solicitar_informacoes_gerais_pdv%>

